<div class="center">
  <%= form_for(test_url) do |f| %>
    <% if test_url.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(test_url.errors.count, "error") %> prohibited this test_url from being saved:</h2>
        <ul>
        <% test_url.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= label_tag :url %>
      <%= f.text_field :url, placeholder:"Url", :value => @url, class: "form-control url-text-field" %>
    </div>
    <div class="field">
      <%= label_tag :request %>
      <%= select_tag "test_url[request]", options_for_select(["GET", "POST"], (@request ? @request : "GET")), class:"form-control request-text-field" %>
    </div>
    <div class="field hidden" id="post-input">
      <%= label_tag :post_params %>
      <%= f.text_area :post_params, placeholder:"Post Params", :value => (@post_params ? @post_params : ''), class: "form-control post-params-text-field" %>
    </div>
    <%= button_tag(class:"btn btn-primary test-button", type: 'button') do %>
      <%= content_tag(:strong, 'Click to Test Url!') %>
    <% end %>
    <div class="field">
      <%= label_tag :response_code %>
      <%= f.text_field :response_code, placeholder:"Response Code", :value => (@response ? @response.code : ''), class: "form-control response_code-text-field" %>
    </div>
    <div class="field">
      <%= label_tag :response_body %>
      <%= f.text_area :response_body, placeholder:"Response Body", :value => (@response ? @response.body : ''), class: "form-control response_body-text-field" %>
    </div>
    <div class="field">
      <%= label_tag :ping_interval %>
      <br>
      <%= select_tag "frequency_amount", options_for_select((1..100).each.collect {|i|[i]})%>
      <%= select_tag "frequency_metric", options_for_select([["Second", "s"], ["Minute", "m"], ["Hour", "h"], ["Day", "d"]])%>
      <%= hidden_field_tag "test_url[frequency]"%>
    </div>
    <div class="actions">
      <%= f.submit "Create Test Url", :class=>"btn btn-primary test_url_create"  %>
    </div>
  <% end %>
</div>
<div class="center">
  <div class="url_form_div">
  </div>
</div>

<script type="text/javascript">
  $("#test_url_request").change(function() {
    if($('#post-input:hidden').length==0) {
      $('#post-input:visible').addClass('hidden');
    }
    else {
      $('#post-input:hidden').removeClass('hidden');
    }
  });

  $('input.test_url_create').bind('click', function() {
    amount=$('#frequency_amount').val();
    metric=$('#frequency_metric').val();
    $('#test_url_frequency').attr('value', amount+metric)
  });

  $('.test-button').bind('click', function() {
    test_url=$('.url-text-field').val();
    request=$('#test_url_request').val();
    post_params=$('#test_url_post_params').val();

    $.ajax({
      url: '/test',
      type: 'POST',
      data: {
        test_url: test_url,
        request_type: request,
        post_params: post_params
      }
    });
  });
</script>