<div class="center">
  <div class="field">
    <%= label_tag :url %>
    <%= text_field_tag :url, params[:location], placeholder:"Url", class: "form-control url-text-field" %>
  </div>
  <div class="field">
    <%= label_tag :request %>
    <%= select_tag "test_url_request", options_for_select(["GET", "POST"]), class:"form-control"   %>
  </div>
  <div class="field" >
    <%= label_tag :post_params %>
    <%= text_area_tag "test_url_post_params", nil, class: "form-control post-params-text-field" %>
  </div>
  <%= button_tag(class:"btn btn-primary test-button", type: 'button') do %>
    <%= content_tag(:strong, 'Click Me!') %>
  <% end %>
  <div class="url_form_div center">
  </div>
</div>
<script type="text/javascript">

$('.test-button').bind('click', function() {
  test_url=$('.url-text-field').val();
  request=$('#test_url_request').val();
  post_params=$('#test_url_post_params').val();
  
  $.ajax({
    url: '/test',
    type: 'POST',
    data: {
      test_url: test_url,
      request_type: request,
      post_params: post_params
    }
  });
});
</script>