<!DOCTYPE html>
<html>
  <head>
    <title>Pinger</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/bootstrap' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
  	<div class="container">
      <div class="row center">
        <%= link_to "Test Url Index", test_urls_path, class:"btn btn-primary home-button" %>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
